/************NAV BAR**************/

.navbar-default {
    background-color: white !important;
}

.navbar-collapse a {
    border-right: 0!important;
}

.navbar-default .nav li a {
    color: black !important;
    font-family: 'Rambla', sans-serif, arial, sans-serif!important;
}

.navbar-default .nav li a:hover {
    color: purple!important;
}

.little-version li {
    list-style: none!important;
}




header {
    text-align: center!important;
    margin: 0;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    padding: 0;
}

.sousnav {
    padding-bottom: 10%;
}


/************parallax**************/

.para {
    display: block;
    width: 100%;
}

.container-fluid {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.scene {
    padding: 0;
    margin: 0;
    width: 100%;
}

.expand-width {
    width: 100%;
}

.aspect {
    opacity: 0.2;
}

.layer {
    width: 100%;
}

.layer:nth-child(1) {
    opacity: 0.15;
}

.layer:nth-child(1) button {
    -webkit-transform: rotate(150deg);
}

.layer:nth-child(2) {
    ;
    width: 50%;
    margin-top: 10%;
    margin-left: 25%;
    opacity: 1.0;
}

.layer:nth-child(2) button {
    -webkit-transform: rotate(120deg);
}

.layer:nth-child(3) {
    opacity: 0.30;
}

.layer:nth-child(3) button {
    -webkit-transform: rotate(90deg);
}

.layer:nth-child(4) {
    opacity: 0.40;
}

.layer:nth-child(4) button {
    -webkit-transform: rotate(60deg);
}

.layer:nth-child(5) {
    opacity: 0.20;
}

.layer:nth-child(5) button {
    -webkit-transform: rotate(30deg);
}

.layer:nth-child(6) {
    opacity: 0.60;
}

.layer:nth-child(6) button {}



/************media queries**************/

@media (min-width: 768px) {
    /**********navbar**************/
    .navbar-nav {
        margin-left: 20% !important;
    }
