/************NAV BAR**************/

.navbar-default {
    background-color: white !important;
}

.navbar-collapse a {
    border-right: 0!important;
}

.navbar-default .nav li a {
    color: black !important;
    font-family: 'Rambla', sans-serif, arial, sans-serif!important;
}

.navbar-default .nav li a:hover {
    color: purple!important;
}

.little-version li {
    list-style: none!important;
}



/************media queries**************/

@media (min-width: 768px) {
    /**********navbar**************/
    .navbar-nav {
        margin-left: 20% !important;
    }
